RewriteEngine On
RewriteBase /

# If the request is for the root path (empty path), redirect to /public/index.php
RewriteRule ^$ /public/index.php [L,QSA]


# Rule 1: Add .php if the request does not already have it
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !\.php$
RewriteRule ^(.*)$ $1.php [L,QSA]

# Rule 2: Redirect to /public/ for all other requests (excluding .php files)
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]